:root{
    --main_color: #2874f0;
    --bg_color: #f0f0f0;
    --white_bg: #fff;
    --btn: #2874f0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



body{
    background-color: var(--bg_color);
}

#container{
    padding:  0 8px;
}

header{
    height: 56px;
    background: var(--main_color);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

#navbar{
    display: flex;
    max-width: 1248px;
    width: 100%;
    height: 100%;
    align-items: center;
    margin: 0 auto;
}

#navbar .logo{
    display: flex;
    min-width: 137px;
    justify-content: flex-end;
}

.logo img{
    width: 75px;
}

.search-bar{
    display: flex;
    align-items: center;
    max-width: 564px;
    width: 100%;
    height: 100%;
    box-shadow: 0;
    margin-left: 12px;
    border-radius: 2px;
}

.search-bar .search-cont{
    display: flex;
    width: 100%;
    height: 36px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white_bg);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.23);
    border-radius: 2px;
}

.search-bar .search-cont .input-txt{
    position: relative;
    width: 100%;
    display: inline-block;
    }

.input-txt input{
    width:100%;
    height: 36px;
    padding: 0 16px;
    outline: none;
    border: none;
    border-radius: 2px 0 0 2px;
    font-size: 14px;
}

.search-btn{
    background: var(--white_bg);
    outline: none;
    border: none;
    cursor: pointer;
    padding: 4px 12px 0 8px;
}

.login{
    display: flex;
    flex: 0 0 auto;
    min-width: 112px;
    align-items: center;
    margin: 0 30px;
    max-width: 150px;
    justify-content: flex-end;
}

.login .login-btn{
    display: flex;
    align-items: center;
    color: #2874f0;
    font-weight: 600;
    background-color: #fff;
    cursor: pointer;
    border-radius: 2px;
    height: 32px;
    padding: 5px 40px;
    border: 1px solid #dbdbdb;
}

.b-seller{
    max-width: 150px;
    display: flex;
    align-items: center;
}

.b-seller a{
    color: var(--white_bg);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: .1;
    margin-right: 30px;
}

.more, .cart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 150px;
    margin: 0 25px;
    cursor: pointer;
    /* transition: all.5s; */
}
.more p, .cart p{
    margin-right: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: .1;
    color: var(--white_bg);
}

.more svg{
    transform: rotate(-90deg);
}

.cart svg{
    margin-right: 10px;
}

.more-content{
    display: none;
    align-items: center;
    justify-content: center;
    /* width: 300px;
    height: 350px; */
    flex-direction:column ;
    padding: 5px 10px;
    background: var(--white_bg);
    position: absolute;
    top: 100%;
    right: 19%;
    transition: all .5s;
    border-radius: 2px;
    z-index: 100;

}

.more-content::after{
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    top: -2%;
    transform: translateY(2%);
    transform: rotate(45deg);
    background-color: var(--white_bg);
}

.more:hover .more-content{
    display: flex;
    transition: all 0.5s;
}

.more-content a{

    color: black;
    /* padding: 5px 10px; */
    margin: 10px 0;
    outline: none;
    text-decoration: none;
    border-bottom: 1px solid;
}

.groceries{
    margin-top: 58px;
    width: 100%;
    background: var(--white_bg);
    min-height: 112px;
   box-shadow: 0 1px 1px 0 rgba(0,0,0,.16);
}

.items{
    max-width: 1280px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.item{
    padding: 12px 8px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

.item img{
    margin-bottom: 4px;
    width: 64px;
    height: 64px;
}

.sliders{
margin: 10px auto;
width: 100%;
height: 300px;
padding: 10px 0;
max-width: 1680px;   
overflow: hidden;
align-items: center;
position: relative;
}
.sliders-itmes{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.sliders .slider-banners{
    /* flex-basis: 100%; */
    /* max-width: 996px; */
    height: 100%;
    width: 100%;
    /* transform: translateX(-100%); */
    transition: all .5s;
    /* animation: slideanimation 5s infinite ease-in-out; */
    animation-delay: 2.1s;
}

.prev-btn, .next-btn{
    position: absolute;
    background-color: var(--white_bg);
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    height: 104px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.23);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
}

.prev-btn{
    left: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.next-btn{
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    right: 0;
}

.next-btn ._2-wzdc{
    transform: rotate(180deg);
}

.FXox6K{
    fill: #000;
}

/* Product Slider */

.product-slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1680px;
    width: 100%;
    height: 320px;
    background-color: var(--white_bg);
    margin: 15px auto;
    text-align: center;
    flex-grow: 1;
    border: 1px solid #dbdbdb;
}

.pr-details{
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 230px;
    background-image: url(images/bg/7593e7b6640822c1.webp);
    background-position: 0px bottom;
    background-repeat: no-repeat;
    flex-direction: column;
    padding: 28px 10px 124px;
}

.pr-title{
   font-size: 20px;
   font-weight: 100;
   line-height: 1.38;
}

.vall-btn{
    margin-top: 24px;
}

.vall-btn button{
 padding: 10px 20px;
 outline: none;
 background: #2874f0;
 border: none;
 color: #fff;
 font-size: 13px;
 border-radius: 2px;
box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.p-slider{
    width: calc(100% - 230px);
    display: flex;
    overflow: hidden;
    height: 100%;
    position: relative;
}

.p-slider-products{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1866px;
    height: 100%;
   transition: all .5s;
}

.prslid-details{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 232px;
    background: #ffffff;
    /* margin: auto; */
    padding: 25px 15px;
    cursor: pointer;
}

.pr-img{
    width: 200px;
    height: 200px;
}
.pr-img:hover{
    transform: scale(110%);
}

.pr-img img{
    max-width: 100%;
    max-height: 100%;
}

.prs-title{
    font-size: 14px;
    font-weight: 600;
    margin-top: 15px;
    text-overflow: ellipsis;
}

.s-price{
    font-size: 16px;
    font-weight: 300;
    margin-top: 8px;
    color: #388e3c;
}

.b-name{
    margin-top: 7px;
    opacity: .5;
}

.p-slider-products .sl-n-btn, .p-slider-products .sl-p-btn{
    transition: all .7s;
}

/* @keyframes slideanimation {
    From {
    transform: translateX(0); }
    50%{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(-200%);
    }
} */

#sl-prev-btn{
    display: none;
}

.login-section{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.538);
    z-index: 100;
    overflow: auto;
    transition: all 0.5s;
}

.login-btn{
    position: relative;
}

.login-btn button{
    position: absolute;
    background: transparent;
    color: #fff;
    outline: none;
    border: none;
    padding: 0;
    /* margin: 20px; */
    font-weight: 600;
    font-size: 32px;
    top: 0;
    right: 0;
    cursor: pointer;
}

.l-container{
    /* margin: auto; */
    /* padding: 0 2px; */
    display: block;
    position: relative;
}

.login-page{
    min-width: 400px;
    max-width: 90%;
    min-height: 200px;
    max-height: 90vh;
    background-color: var(--white_bg);
    margin: 0 auto;
    border-radius: 4px;
    position: relative;
    overflow: auto;
}
.r-login{
    display: flex;
    height: 568px;
    max-width: 750px;
    /* min-width: 650px; */
    margin: 0 auto;
    width: 100%;
    /* align-items: center; */
    /* justify-content: center; */
    flex-wrap:  row wrap;
}

.left-side{
    width: 40%;
    height: 100%;
    background: #2874f0;
    padding: 40px 33px;
    background-image: url(images/bg/login_img_c4a81e.png);
    background-repeat: no-repeat;
    background-position: center 85%;
    color: #fff;
}

.login-title h2{
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 500;
}

.l-des p{
    font-size: 16px;
    opacity: .6;
    text-align: left;
    text-transform: capitalize;
}

.right-side{
    display: inline-block;
    width: 60%;
    height: 100%;
    padding: 56px 35px 16px;
    position: relative;
    background-color: #fff;
}


/* scrollbar */

::-webkit-scrollbar{
    width: 2px;
    height: 3px;
}

::-webkit-scrollbar-track{
    background: #2874f0;
}

::-webkit-scrollbar-thumb{
    background: #dbdbdb;
}

.l-form{
    width: 100%;
    
}

.l-form input{
    border: none;
    outline: none;
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
    padding: 5px 0;
    transition: all .5s;
    margin-bottom: 30px;
}

.t-c{
    color: #8f8f8f;
    font-size: 12px;
    line-height: 1.8;
}

.t-c span{
    color: #2874f0;
}


.l-form input:focus{
    border-bottom: 1px solid #2874f0;
}

.li-btn{
    margin-top: 30px ;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background: #f07828;
    color: #fff;
}

.li-btn button{
    background: transparent;
    color: #fff;
    font-size: 16px;
    border: none;
    outline: none;
}

.signup{
    text-align: center;
    position: absolute;
    bottom: 35px;
    left: 0;
    right: 0;
    color: #2874f0;
}
